.modal-background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  z-index: 100;

}
.modal-content {
  padding: 25px;
  border-radius: 12px;
  background-color: #fff;
  display: flex;
  flex-direction: column;

}
.modal-background.open {
  opacity: 1;
  pointer-events: all;
}

.buttons-block {
  width: 270px;
  display: flex;
  margin: 0 auto;
  margin-top: 70px;
  justify-content: space-between;
}

.buttons-block button {
  background-color: #282c34;
  color: #fff;
  width: 75px;
  height: 45px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
