.title {
  margin: 30px 0;
}

ul {
  padding: 0;
  list-style: none;
  width: 30%;
  margin: auto;
}

li {
  font-size: 1.2rem;
  line-height: 2rem;
  border-bottom: 1px dotted #777;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.3);
  padding: .95rem;
}
.form > * {
  margin-bottom: 30px;
}
input {
  margin-left: 25px;
  height: 30px;
}
.delete {
  margin-left: 20px;
  padding: 2px 5px 0;
}
.error-post {
  margin: 0 0 20px 0;
  color: red;
}
.show {

  background-color: #282c34;
  font-weight: bold;
  padding: 8px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;

}
